{% extends 'base.html.twig' %}

{% block title %}Les albums{% endblock %}

{% block body %}
<h1>Tous les albums</h1>
 
        {% for post in posts %}
        <article>
        <h3>{{post.title}}</h3>
        <p>{{post.content}}</p>
         <legend>{{post.CreatedAt.format('d-m-Y H:i:s')}}</legend>
   </article>
        {% endfor %}
<br>
        <a href="{{path('app_post_create')}}">Créer un nouvel album</a>

{% endblock %}
