{% extends 'base.html.twig' %}

{% block title %}Les artistes{% endblock %}

{% block body %}

<div>

    <ul>
        {% for categorie in categories %}
        <li>{{categorie.name}}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}